body {
    background-color: #1a1a1a;
}

main {
    color: #eee;
}


.article_preview {
    background-color: #212121;
}

.article_preview:hover {
    background-color: #484848;
}

.article_preview:active {
    background-color: #333;
}